.healthy_part{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-right: 50px;
}
.total_part{
    display: flex;
}
.header_left{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border: 1px solid black;
}
.header_category{
    display: flex;
    list-style: none;
    border-right: 2px solid black;
    margin-top: 10px;
}
.header-log_in{
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    border: none;
    background-color: #ff5400;
    color: white;
    margin-top: 5px;
}
.caregory_list{
    padding-left: 40px;
    padding-right: 15px;
}
.doctor_image > img{
    max-width: 100%;
    border-radius: 145px;
}
.doctor_image{
    margin-top: 45px;
}
.connect_section{
    display: flex;
    margin-top: 18px;
    margin-left: 22px;
}
.video_box{
    display: inline-flex;
    padding: 7px 5px 5px 7px;
    color: #25484c;
    border: 1px solid lightblue;
    background-color: white;
    margin-left: -31px;
}
.video_box >a{
    color: #25484c;
}
.fa-video-camera{
    padding: 3px 3px 0 7px;
    
}
.chat_box{
    padding-left: 35px;
    border: 1px solid black;
    display: inline-flex;
    padding: 7px 5px 5px 7px;
    margin-left: 29px;
    color: #25484c;
    border: 1px solid lightblue;
    background-color: white;
}
.chat_box >a{
    color: #25484c;
}
.fa-comment-o{
    padding: 3px 3px 0 7px;
}
.audio_box{
    border: 1px solid black;
    display: inline-flex;
    margin-left: 31px;
    margin-top: 20px;
    padding: 7px 5px 5px 7px;
    color: #25484c;
    border: 1px solid lightblue;
    background-color: white;
}
.audio_box >a{
    color: #25484c;
}
.fa-audio-description{
    padding: 3px 3px 0 7px;
}
.communication{
    display: flex;
    margin-top: 35px;
    border-bottom: 1px solid rgb(224, 222, 222);
}
.communication >p{
    padding-left: 15px;
    padding: 0px 10px 0 10px;
    border: 1px solid black;
    margin-left: 10px;
    background-color: beige;
    border-radius: 20px;
}
.age_group{
    margin-top: 10px;
    border-bottom: 1px solid rgb(224, 222, 222);
}
.theropy >h6{
    margin-top: 20px;
}
.middle-content_left > h6{
    font-size: 25px;
    margin: 20px 0px;
    color: #25484c;
    font-weight: 500;
    font-family: moderat;
}
.theropy >p{
    display: inline-block;
    background-color: rgb(235 235 235);
    padding: 2px 8px 2px 8px;
    border-radius: 35px;
    margin-top: 0;
    margin-left: 0;
    font-size: 13px;
}
.theropy > li{
    display: inline-block;
    background-color: rgb(235 235 235);
    padding: 2px 8px 2px 8px;
    border-radius: 35px;
    margin-bottom: 10px;
    font-size: 13px;
    list-style: none;
}
.theropy > h6{
    font-size: 25px;
    margin: 20px 0px;
    color: #25484c;
    font-weight: 500;
    font-family: moderat;
}
.details_part{
    margin-top: 58px;
    margin-left: 50px;
}
.user_detail{
    font-size: 25px;
    margin: 20px 0px;
    color: #000;
    font-weight: 500;
    font-family: moderat;
}
.user_detail >h6{
    font-size: 25px;
    color: #25484c;
}
.gender >li{
    display: inline;
    list-style: none;
    border-right: 1px solid black;
    padding-right: 10px;
    padding-left: 10px;
}
.bio_part{
    display: flex;
    border-bottom: 1px solid rgb(224, 222, 222);
}
.education{
    margin-top: 25px;
    border-bottom: 1px solid rgb(224, 222, 222);
}
.education > h6{
    font-size: 25px;
    margin: 20px 0px;
    color: #25484c;
    font-weight: 500;
    font-family: moderat;
}
.bio_part >p{
    padding-right: 20px;
}
.top-side_book{

    padding: 30px 0 0 160px;
}
.circle-tickmark{
    border-bottom: 1px solid rgb(224, 222, 222);
    padding-bottom: 15px;
    margin-top: 20px;
    display: flex;
}
.circle_tick{
    display: flex;
}
.carene-view{
    margin-top: 10px;
    margin-top: 26px;
    padding-left: 22px;
}
.circle-part{
    padding-bottom: 10px;
    display: flex;
}
.circle-part > p{
    font-size: 17px;
}
.carene_circle-part{
    padding: 0 0 0 0;
    display: flex;
}
.carene_circle-part > p{
    font-size: 17px;
}
.carene_circle-part > i{
    padding-top: 2px;
    font-size: 20px;
    padding-right: 10px;
}
.carene_circle-part_last >i{
    padding-top: 2px;
    font-size: 20px;
    padding-right: 10px;
}
.carene_circle-part_last {
    display: flex;
    margin-top: 25px;
}
.carene_circle-part_last >p{
    font-size: 17px;
}
.circle-view{
    padding-bottom: 10px;
    display: flex;
}
.fa-check-circle-o{
    color: #25484c;
    padding-right: 10px;
    font-size: 20px;
}
.circle-view{
    padding-bottom: 10px;
}
.circle_last span{
      width: 10px;
}
.right-side_book{
    padding: 5px 30px 5px 30px;
    border-radius: 20px;
    border: none;
    background-color: #25484c;
    color: white;
    font-size: 20px;
}
.carene{
    margin-top: 25px;
}
.carene > i{
    padding-right: 60px;
    margin-top: 45px;
}
.right-side_content{
    padding: 20px 35px 30px 35px;
    margin-left: 10px;
    margin-top: 25px;
}
.carene >h6{
    margin-top: 10px;
    font-size: 25px;
    margin: 20px 0px;
    color: #25484c;
    font-weight: 500;
    font-family: moderat;
}
.community_part{
    display: flex;
    width: 200px;
}
.official >img{
    width: 40%;
}
.card{
    margin-top: 46px;
    border-radius: 14px;
    background: rgb(248, 248, 248);
}