@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: 'Graphik-Regular';
  src: url('../fonts/Graphik-Regular.eot');
  src: url('../fonts/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-Regular.svg#Graphik-Regular') format('svg'),
       url('../fonts/Graphik-Regular.ttf') format('truetype'),
       url('../fonts/Graphik-Regular.woff') format('woff'),
       url('../fonts/Graphik-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


* {
    font-family: "Graphik-Regular";
    font-size  : 14px;
}

.news-line-caul {
    background-color: #ffc776;
    position        : relative;
    z-index         : 1;
}


/* .banner-develope {
    margin-top: -20px;
} */

a.navbar-brand.logo-mode {
    width: 20%;
}

.navbar-expand-lg .navbar-collapse {
    flex: inherit;
}

button.btn.btn-primary.nav__button {
    padding: 0.6em 2em;
    font-size: 14px;
    background: #005656;
    border: 2px solid #333;
    border-radius: 50px;
}

.navbar-dark .navbar-nav .nav-link {
    color    : white !important;
    font-size: 15px;
}

.news-line {
    display        : flex;
    justify-content: center;
    padding-top    : 12px;
}

.news-line p {
    font-size: 14px;
    color: #005656;
    font-weight: 700;
    letter-spacing: 1px;
}

.news-link {
    padding: 11px 0;
    color  : #068a6d;
    font-size: 18px;
    font-weight: 600;
}
.news-line > p >a{
    text-decoration: none;

}

.news-link span {
    font-size  : 1.6rem;
    font-weight: 700;
}

.news-link i {
    font-size: 17px;
    font-weight: 600;
}

.banner-develope {
    /* background-image: radial-gradient(#d9383e, #17a858); */
    background-color: #00b7ac;
	/*background: linear-gradient(0deg, rgb(16 137 130) 0%, rgba(0,183,172,1) 35%, rgba(0,212,255,1) 100%);*/
    margin-top      : -20px;
    padding-top     : 20px;
    /* margin       : -20px 0 0 0; */
}

.care-health-logo {
    display        : flex;
    justify-content: space-between;
    width          : 100%;
    margin-top     : 24px;
}

.care__list {
    /* display: flex; */
}

.care__content {
    display: flex;
}

.logo {
    width: 100%;
}


/* .care-health-describe {
    width: 100%;
} */

.navbar.navbar-expand-sm.navbar-dark.bg-dark.back-orgin {
    position: relative;
    z-index: 1;
    background-color: rgb(0 86 86 / 12%)!important;
}

.list__items {
    color: black;
}

.care-banner {
    position: absolute;
    top     : 0;
    bottom  : 0;
    width   : 100%;
}

.logo a.navbar-brand.logo-mode {
    font-size  : 30px;
    font-weight: 700;
}

i.fa.fa-bars {
    font-size: 30px;
    color    : #fff;
    margin   : 5px 5px 5px 40px;
}

.health-application ul li a {
    font-size: 16px;
    color    : #fff !important;
}

.banner-describe h1 {
    font-size: 70px;
    font-weight: 700;
    z-index: 1;
    margin-top: 90px;
    color: #005656;
}

.book-application {
    background-color: #fff;
    border-radius   : 30px;
    padding         : 40px 0px;
}

.book-application>a {
    color: white;
}

.col-md-6.book-application {
    width: 400px;
    padding: 3em;
}

.book-application h1 {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
}

.care-appoint img {
    width: 50px;
}

.care-appoint {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin: 1em 0;
    justify-content: space-between;
}

.care-appoint i {
    margin: 15px 0px 0px 0px;
}

.care-appoint h4 {
    margin: 10px 0px 0px 0px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
}
.book-application p {
    margin: 5px 0;
}
.banner-disapps.row {
    position          : relative;
    /* z-index        : 1; */
    top               : 56px;
    justify-content   : space-between;
    padding           : 0px 0px 120px 0px;
}

.banner-describe span {
    color: #ffeb3b;
    font-size: 70px;
    border-bottom: 2px solid #ffeb3b;
    text-transform: capitalize;
}

.banner-describe h1 label {
    color: #fff;
    font-size: 70px;
    padding-right: 15px;
}

.manegement-teams {
    padding        : 60px 0px 30px 0px;
    text-align     : center;
    justify-content: center;
}

.manege-contact img {
    width: 60px;
}

.manege-contact {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-transform: capitalize;
    width: 13%;
    margin: 0;
}

.manege-contact h6 {
	font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #003636;
    text-align: center;
    width: 100%;
    margin-top: 14px;
}

.manegement-teams h6 {
    font-size: 18px;
    color: #e91e63;
    text-transform: capitalize;
    margin: 0;
}

.manegement-teams h1 {
    color: #000;
    font-size: 24px;
    width: 90%;
    margin: 1em auto;
    font-weight: 700;
    text-transform: capitalize;
}

.manegement-teams p {
    font-size: 14px;
}

.ourteams-manege {
    display        : flex;
    justify-content: center;
    padding        : 30px 0 0 0;
    align-items    : baseline;
}

.cart-ourteam {
    justify-content: center;
    display        : flex;
}

.cart-mode {
    position : relative;
}

.cart-ourteam img {
    z-index   : 1;
    width     : 45%;
    margin-top: 60px;
}

.cartoon-bottom-mode {
    background-color: #0a8080;
    width           : 100%;
    height          : 23px;
    z-index         : 0;
    position        : absolute;
    bottom          : 0;
}

.cartoon-bottom__content {
    background-color: #0a8080;
    text-align      : center;
    padding         : 40px 0 40px 0;
    color           : white;
    position        : inherit;
}

.cartoon-bottom__content .container>h6 {
    font-size: 18px;
}

.care-ban-ward {
    height: 100%;
}

.teams-back {
   /* background-color: #f7f5f2;*/
}

.care-work-dialog {
    background-color: #eff6f4;
    padding         : 60px 0px 30px 0px;
}

.work-topic {
    padding-bottom: 15 px;
}

.work-topic h1 {
    font-family: Graphik-Regular;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin: 0;
	text-transform: capitalize;
}

li.nav-item {
    padding: 0 12px;
}

.care-home__title h3, .work__subtopic h3 {
    font-size: 14px;
    font-weight: 700;
}

.row.work-dialog {
    margin-top: 20px;
}

.work__subtopic {
    text-align: center;
    padding   : 10px 0 10px 0;
}

.work__img {
    width: 100%;
}

.work__img>img {

    margin-top: 33px;
}

.col-md-4.work-describe {
    margin-top: 30px;
    padding   : 0 20px;
}

.col-md-4.work-describe img {
    width: 100%;
}

.work-describe h1 {
    font-size: 18px;
    margin: 20px 0px;
    color: #000;
    font-weight: 700;
	text-transform: capitalize;
}

.manegement-teams span {
    color      : #339f98;
    font-size  : 14px;
    font-weight: 600;
    margin     : 10px 0 0 0;
    display    : inline-block;
}

.work-describe h2 {
    background-color: #3e8084;
    width           : 40px;
    height          : 40px;
    border-radius   : 48px;
    text-align      : center;
    color           : #fff;
    align-items     : center;
    font-size       : 18px;
    display         : flex;
    justify-content : center;
}

.work-describe p {
    font-size: 16px;
    color    : #000;
}

.homecare-condition {
    padding: 60px 0px 30px 0px;
}

.adjust-responce {
    padding-bottom: 20px;
}

.carehome-describe {
    background-color: #F5EDE8;
}

.care-home h1 {
    color: #212121;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}

.care-home__title {
    text-align    : center;
    padding-bottom: 10px;
}

.care-home__subtitle {
    text-align: center;
}

.care__title {
    margin-left    : 15px;
    color          : black;
    text-decoration: none !important;
}

.care__link {
    color          : black;
    text-decoration: none !important;
}

.cartoon-bottom__content span {
    font-size: 25px;
}

.real-term__content {
    background-color: #4baeb3;
    border-radius: 0px 100px 100px 100px;
    height: 373px;
    z-index: -1;
    position: relative;
    padding-left: 25px;
    padding-right: 20px;
}

.real-condition_row {
    text-align : center;
    padding-top: 50px;
}

.real-condition>p {
    text-align: center;
}

.col-md-3.pum-data {
    background-color: #fff;
    width: 21%;
    margin: 35px 20px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 4px 20px rgb(51 51 51 / 18%);
}	

.col-md-3.pum-data h5 {
    font-size: 18px;
    color: #215350;
    font-weight: 700;
}

.col-md-3.pum-data img {
    width: 60px;
}

.col-md-3.pum-data p {
    font-size: 14px;
    color    : #5b5353;
}

.btn-develop {
    display        : flex;
    justify-content: center;
}

.play-apps__content {
    background-color: #d3e9ff;
    border-radius: 0px 70px 70px 70px;
    margin: -135px 135px 0 385px;
    border: 1px solid rgb(75 174 179 / 22%);
    box-shadow: 0px 4px 20px rgb(0 0 0 / 18%);
}

.play-apps__title {
    text-align: center;
    padding   : 20px 0;
}

.play-apps__subtitle {
    text-align: center;
    padding   : 20px 0;
}

.get-btn-start {
    border-radius: 45px;
    padding: 10px 40px;
    background-color: #215350;
    color: #fff;
    font-size: 18px;
	border: 1px solid #25484c;
    margin-bottom: 50px;
}

.care-adjust {
    margin         : 45px 0px;
    justify-content: space-evenly;
}

.app-model {
    margin-top: 90px;
}

.app-model img {
    width: 100%;
}

.mobile-app {
    width     : 26%;
    position  : absolute;
    margin-top: 260px;
}

.mobile-app h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1em;
}

.experine-bttn {
    background-color: #dea531;
    border          : 0;
    border-radius   : 15px;
    padding         : 10px 25px 10px 25px;
    color           : #fff;
    font-size       : 18px;
    font-weight     : 600;
}

.mobile-model {
    display        : flex;
    justify-content: end;
    padding-left   : 240px;
    margin-left    : -70px;
}

.get-btn-start:hover {
    border-radius: 45px;
    font-weight: 600;
    background-color: #F5EDE8;
    color: #215350;
    font-size: 18px;
    border: 1px solid #25484c;
}

.start-asses-bttn {
    color           : #25484c;
    background-color: white;
    padding         : 15px 30px 15px 31px;
    font-size       : 18px;
    font-weight     : 700;
    border          : 2px solid #25484c;
    border-radius   : 40px;
    margin          : 25px 0 0 30px;
}

.start-asses-bttn:hover {
    color: #ffffff;
    background-color: #25484C;
    padding: 15px 30px 15px 31px;
    font-size: 18px;
    font-weight: 700;
    border: 2px solid #25484c;
    border-radius: 40px;
    margin: 25px 0 0 30px;
}

.start-asses-bttn1:hover {
    background-color: #336ab3;
    padding         : 15px 30px 15px 31px;
    font-size       : 18px;
    font-weight     : 600;
    color           : white;
    border          : 2px solid #336ab3;
    border-radius   : 40px;
}

.col-md-4.real-condition p {
    font-size  : 16px;
    text-align : start;
    color      : #000;
    font-weight: 300;
    text-align : center;
}

.real-condition h3 {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

.col-md-4.real-condition img {
    width: 140px;
}

.real-tearms {
    margin: 0px 0 80px 0;
}

.treat-describe {
    text-align: center;
    margin    : 100px 0px 30px 0px;
}

.treat-describe h1 {
    font-size: 30px;
    color: #212121;
    font-weight: 700;
    text-transform: capitalize;
}

.treat-describe h6 {
    color    : #25484c;
    font-size: 18px;
}

.cart-ourteam img {
    margin-bottom: -60px;
}

.treat-appoint {
    display        : flex;
    border-bottom  : 1px solid #0d6efd4a;
    margin         : 25px 35px;
    justify-content: space-between;
    height: 50px;
}

.treat-appoint i {
    margin: 5px 0px 0px 0px;
    color : #25484c;
}

.treat-appoint__things>a {
    color          : #000;
    text-decoration: none;
}

.mobile__button {
    padding      : 10px 25px 10px 25px;
    border-radius: 5px
}

.mobile__button:hover {
    color           : white;
    background-color: #25484C;
}

.treat-appoint h4 {
    margin   : 0px 0px 20px 0px;
    font-size: 18px;
    color    : #364b7e;
}



.start-bttn {
    /* display: flex; */
    margin: 20px 0 40px 0;
}

.care-adjust {
    margin: -10px 0 0px 0;
}

.foot-back {
    background-color: #25484C;
}

.col-md-3.footer-link {
    margin-top: 80px;
}

.col-md-3.footer-link h6 {
    color    : #fff;
    font-size: 20px;
}

.col-md-3.footer-link a {
    display        : block;
    font-size      : 14px;
    margin         : 20px 0px 15px 0px;
    text-decoration: none;
    color          : #c0c2c5;
}

.col-md-3.footer-subscribe {
    background-color: #1b252f;
    margin : 50px 0px;
    padding : 30px;
    width : 25%;
}

.col-md-3.footer-subscribe p {
    color : #81878c;
    font-size: 16px;
}

.col-md-3.footer-subscribe h6 {
    color : #fff;
    font-size: 20px;
}

.footer-bottom-mode {
    border-bottom: 1px solid #ccc;
}

.sub-mail-contact {
    display: flex;
}

.sub-mail-contact input {
    border-radius : 5px 0px 0px 5px;
    padding : 5px 0px 5px 5px;
    font-size : 16px;
    margin : 30px 0;
}

.row.adjust-responce {
    justify-content: center;
}

.sub-mail-contact i {
    color : #fff;
    font-size : 20px;
    background-color: #0081fe;
    padding : 8px 10px;
    border-radius : 0px 5px 5px 0px;
    border : 1px solid #fff;
}

.bttn-arrow {
    margin-top: 30px;
}

.condition-describe {
    justify-content: space-around;
}

.condition-describe h6 {
    color    : #fff;
    font-size: 20px;
}

.footer-logo {
    display: flex;
}

.care-symtom {
    font-size    : 18px;
    border-bottom: 1px solid #ccc;
    padding      : 15px 0px 15px 1px;
}

.care-services {
    background-color: #fff;
    border-radius   : 15px;
}

.care-diease {
    padding: 20px 25px 20px 25px;
}

.treatment-care {
    display: flex;
}

.method-health {
    width : 90%;
    margin: 10px 0px 30px 0px;
}

.method-health h6 {
    font-size: 20px;
    margin-top: 5px;
    color: #04406d;
    font-weight: 700;
}

.method-health p {
    font-size: 14px;
    color    : #333333;
}

.health-ban h1 {
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 700;
    color: #074067;
    margin-bottom: 30px;
}

.choose-care-treatment {
    background-color: #e8f5fe;
    margin-bottom: -90px;
}

.col-md-7.k-health {
    padding: 50px 15px;
}

.col-md-5.k-h-leftbanner img {
    width           : 82%;
    /* margin-top   : 40px;
    margin-bottom   : 60px; */
    margin-bottom   : 120px;
    margin-left     : 81px;
}

.play-apps {
    justify-content: center;
    display        : flex;
}

.play-apps img {
    width: 200px;
}

.app-iphone {
    height     : 65px;
    margin-top : 6px;
    margin-left: 30px;
}

.method-value1 {
    background-color: #46e2af;
    padding         : 5px 0px 0 20px;
    border-radius   : 50px;
    width           : 30px;
    height          : 30px;
}

.method-value2 {
    background-color: #fc8c8d;
    padding         : 5px 0px 0 20px;
    border-radius   : 50px;
    width           : 30px;
    height          : 30px;
}

.method-value3 {
    background-color: #fecd51;
    padding         : 5px 0px 0 20px;
    border-radius   : 50px;
    width           : 30px;
    height          : 30px;
}

.method-value4 {
    background-color: #40c6ee;
    padding         : 5px 0px 0 20px;
    border-radius   : 50px;
    width           : 30px;
    height          : 30px;
}

.start-bttn1 {
    display: flex;
    margin : 20px 0px 40px 0px;
}

.start-asses-bttn1 {
    background-color: #2b8fff00;
    padding         : 15px 30px 15px 31px;
    font-size       : 18px;
    font-weight     : 600;
    color           : #00406b;
    border          : 2px solid #00406b;
    border-radius   : 40px;
}

.dropdown-menu>li>a {
    color: #000;
}
.footer__section{
  background-color: lightseagreen;
  padding-bottom: 20px  ;
}

.footer-dropdown__first {
    display        : flex;
    justify-content: space-around;
    padding-top    : 40px;
}

.footer-dropdown__content {
    color: white;
    z-index:1;
}
.footer-dropdown__button{
    z-index: 1;
}

.footer-dropdown__content>h6 {
    font-size: 14px;
}

.footer-dropdown__content>a>h6 {
    text-align: center;
    font-size: 14px;
    background: rgb(37 72 76);
    color: #fff;
    width: 200px;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #25484c;
    position: relative;
    top: -9px;
    text-transform: uppercase;
}

.footer-dropdown__content>a {
    text-decoration: none;
}

.footer__company {
    color          : white;
    list-style-type: none;
    text-align     : left;
}

.footer__second {
    padding: 50px 0 20px 0;
}

.footer__company>li>i>a {
    color          : #b3b2b2;
    text-decoration: none;
}

.footer__company>li>i>a:hover {
    color          : white;
    text-decoration: underline;

}

.footer__title {
    color         : white;
    text-align    : center;
    padding-bottom: 20px;
}

.footer__title>h5 {
    font-size: 1.6rem;
}

.footer-dropdown__content>a {
    text-decoration: none;

}
.footer-dropdown__content>a :hover{
    text-decoration: underline white;
}

.footer__image {
    display        : flex;
    justify-content: center;
}

.footer__image>a>img {
    width  : 150px;
    padding: 20px 0 20px 0;
}

.row.work-dialog img {
    width: 90%;
}

.care_image {
    z-index : 0;
    position: relative;
    margin  : -530px 12px 0 -73px;
}

.carousel-slide {
    z-index : 3;
    position: relative;
    margin  : 100px 0 0 0;
}

.carousel-item {
    width: 100%;
}

.footer__image {
    display: flex;
}

.li__title {
    color          : #fff;
    font-weight    : 600;
    padding-bottom : 10px;
}

.carousel-inner {
    margin-top: 55px;
}

.treat-appoint>h4::after {}

.treat-appoint>h4:hover {
    border      : 1px solid;
    border-width: 0px 0px 3px 0px;
    transition  : 0.2s;

}
.footer-dropdown__button select {
    background: rgb(37 72 76 / 25%);
    color: #fff;
    width: 150px;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #25484c;
    position: relative;
    top: -9px;
    text-transform: uppercase;
}
/* .treat-appoint > h4:after{
    
    text-decoration: underline red;
} */
