.container-fluid {
    background-color: #ebba12;
    height: 80px;
}

.doctor-great-therapy {
    font-size: 56px;
    padding-top: 78px;
    font-family: BlinkMacSystemFont;
}

.doctor-great {
    font-size: 23px;
}

.doctor-highlights {
    margin-top: 26px;
    text-align: center;
    font-size: 40px;
    font-family: BlinkMacSystemFont;
}

.doctor-profile-content {
    height: 70vh;
    background-image: url("https://assets-global.website-files.com/5fd7e7372a07dfc79fb9b4f8/605243fa6fb5ef393f359712_Meet-Our-Therapists-2%20(1).png");
    background-position: 50% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: white;
    text-align: center;
}

.doctor-highlights-para {
    text-align: center;
}

.doctor-highlights-card {
    border: none;
}

.therapist {
    text-align: center;
    font-size: 40px;
    font-family: BlinkMacSystemFont;
}

.therapist-card {
    border: none;
}

a {
    text-decoration: none !important;
}

.therapist-para {
    text-align: center;
    font-size: 19px;
    margin-top: 24px;
    color: black;
}


/* body {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: #2a9d8f;
} */

.therapist-line {
    background-color: #9f9f9f;
    width: 100%;
    height: 4px;
    margin: 15px 0px 0px 0px;
}

.therapist-line:hover {
    background-color: #25484C;
    width: 100%;
    height: 4px;
    margin: 15px 0px 0px 0px;
}

.therapist-one {
    margin-top: 23px;
}

.therapist-sec {
    margin-top: 27px;
}

.therapist-space {
    padding-top: 29px;
    padding-bottom: 39px;
}

.doctor-highlights-heading {
    font-size: 18px;
    text-align: center;
    margin-top: 11px;
}

.card-therapist-card:hover .therapist-line {
    background-color: #25484C;
}