@media screen and (max-width: 1400px) {
    .health-application ul li a {
        white-space: nowrap;
    }

    button.btn.btn-primary {
        white-space: nowrap;
    }
}

@media screen and (max-width: 1200px) {
    .row.adjust-responce {
        flex-wrap: wrap;
    }

    .manegement-teams {
        padding: 30px 0px 30px 0px;
    }

    .treat-describe {
        margin-top: 75px;
    }

    .mobile-app {
        margin-top: 100px;
    }

    .play-apps__content {
        margin: -135px 130px 0 300px;
    }

    .col-md-5.k-h-leftbanner img {
        margin-bottom: 230px;
    }

    .start-bttn1 {
        margin: 0px 0px 80px 0px;
    }

    .footer__section {
        margin-top: 10px;
    }
}

@media screen and (max-width: 992px) {
    .ourteams-manege {
        flex-wrap: wrap;
    }

    .row.work-dialog {
        display: block;
    }

    .col-md-4.work-describe {
        display   : contents;
        max-width : 100%;
        margin-top: 30px;
    }

    ul.navbar-nav.me-auto.logo-menu-link {
        white-space: nowrap;
    }

    .care-health-logo {
        display: block;
    }

    .row.adjust-responce {
        display: block;
    }

    .col-md-3.pum-data {
        width     : 100%;
        text-align: center;
    }

    .row.module-val {
        flex-wrap: wrap;
    }

    .care-health-logo {
        display: flex;
    }

    .banner-disapps.row {
        display: block;
    }

    .col-md-6.banner-describe {
        width: 100%;
    }

    .col-md-6.banner-describe h1 {
        text-align: center;
        font-size : 30px;
    }

    .col-md-6.book-application {
        width: 100%;
    }

    .mobile-app {
        position  : unset;
        width     : 100%;
        text-align: center;
    }

    .app-model img {
        display: none;
    }

    .health-application ul li a {
        white-space: nowrap;
    }

    .app-model {
        margin-top: -80px;
    }

    section.banner-develope {
        margin: -113px 0 0 0;
    }

    .col-md-6.book-application {
        margin-top: 60px;
    }

    .banner-describe span {
        font-size: 30px;
    }

    .banner-describe h1 label {
        font-size: 30px;
    }

    .btn-contact {
        margin: 30px 0 30px 0;
    }

    .play-apps__content {
        margin: -135px 10px 0 130px;
    }

    .real-condition h3 {
        font-size: 25px;
    }

    .col-md-4.real-condition p {
        font-size: 14px;
    }

    .real-term__content {
        height: 390px;
    }

    .play-apps__content {
        margin-top: -160px;
    }
}

@media screen and (max-width: 865px) {}

@media screen and (max-width: 764px) {
    .col-md-4.real-condition {
        text-align: center;
    }

    .col-md-4.real-condition p {
        text-align: center;
    }

    .col-md-3.footer-subscribe {
        width: 100%;
    }

    .col-md-3.footer-link {
        text-align: center;
    }

    .treatment-care {
        display: block;
    }

    .col-md-4.k-h-leftbanner img {
        display: none;
    }

    .health-application ul li a {
        font-size: 11px;
    }

    button.btn.btn-primary {
        font-size: 11px;
    }

    i.fa.fa-bars {
        margin: 5px 5px 5px 8px;
    }

    .appoint__panic {
        display: none;
    }

    .treat-appoint {
        margin: 0px 0 15px 0;
    }

    .treat-appoint i {
        margin-top: 10px;
    }

    .treat-appoint h4 {
        margin: 5px 0px 20px 0px;
    }

    .homecare-condition {
        padding: 60px 0px 40px 0px;
    }
}

@media screen and (max-width: 600px) {
    .navbar-expand-sm .navbar-toggler {
        display: block;
    }

    .logo {
        width          : 100%;
        display        : flex;
        justify-content: space-between;
    }

    .col-md-3.pum-data {
        width: 87%;
    }

    .col-md-8.k-health {
        text-align: center;
    }

    .start-bttn {
        justify-content: center;
    }

    .col-md-4.real-condition p {
        font-size: 17px;
    }

    .manegement-teams h1 {
        font-size  : 30px;
        font-weight: 100;
    }

    .work-topic h1 {
        font-size: 30px;
    }

    .start-asses-bttn {
        margin-top: 20px;
    }

    .care-home h1 {
        font-size: 30px;
    }

    .mobile-app h1 {
        font-size: 30px;
    }

    .treat-describe h1 {
        font-size: 30px;
    }

    .health-ban h1 {
        font-size: 30px;
    }

    /* .navbar-collapse .collapse {
        width     : 100%;
        padding   : 10px;
        background: rgb(50, 160, 100);
    } */
    div#collapsibleNavbar {
        width     : 100%;
        padding   : 10px;
        background: rgb(50, 160, 100);
    }

    .homecare-condition {
        padding: 40px 0px 40px 0px;
    }
}

@media screen and (max-width: 546px) {
    .app-model img {
        display: none;
    }

    button.btn.btn-primary {
        font-size  : 11px;
        white-space: nowrap;
    }

    .health-application ul li a {
        font-size: 11px;
    }

    .banner-describe h1 {
        font-size: 45px;
    }

    .play-apps {
        display: grid;
    }

    .news-line {
        display: block;
    }

    .news-link {
        text-align: center;
        padding   : 0 0 20px 0px;
    }

    .news-line p {
        font-size: 16px;
        padding  : 0 0 0 0;
    }

    section.news-line-caul {
        text-align: center;
    }

    .col-md-6.book-application {
        margin-top: 60px;
        margin    : 30px 15px;
        padding   : 20px 0px 5px 0px;
        width     : auto;
    }

    .cart-ourteam img {
        width: 100%;
    }

    .treat-appoint h4 {
        margin: 10px 0px 15px 0px;
    }

    .treat-appoint {
        margin: 0px 15px;
    }

    .treat-appoint i {
        margin: 15px 0px 0px 0px;
    }

    .method-health {
        width  : 100%;
        padding: 0 0px;
    }

    .col-md-4.work-describe {
        display: grid;
    }

    .app-iphone {
        height     : 65px;
        margin-top : 6px;
        margin-left: 0px;
    }

    .manegement-teams {
        padding: 35px 0 30px 0;
    }

    /* .navbar-collapse .collapse {
        width     : 100%;
        padding   : 10px;
        background: rgb(50, 160, 100);
    } */
    div#collapsibleNavbar {
        width     : 100%;
        padding   : 10px;
        background: rgb(50, 160, 100);
    }

    .homecare-condition {
        padding: 30px 0px 40px 0pxhai;
    }

}

@media screen and (max-width: 480px) {
    .footer__image>a>img {
        width: 100%
    }

    .real-tearms {
        margin-bottom: 120px;
    }

    .real-term__content {
        height: 800px;
    }

    .play-apps__content {
        display    : table-caption;
        padding    : 0 25px 0 25px;
        margin-left: 90px;
    }

    .start-bttn {
        justify-content: center;
    }

    .start-asses-bttn {
        margin-top: 40px;
    }

    .footer-dropdown__first {
        display: block;
    }

    .footer__image {
        display: grid;
    }

    .footer__image>a>img {
        width  : 50%;
        padding: 0 0 0 0;
    }

    .footer__title {
        padding: 20px 0;
    }

    .footer__section {
        margin-top: 90px;
    }

    .start-bttn1 {
        margin: 0;
    }

}


@media screen and (max-width: 380px) {
    .real-term__content {
        height: 825px;
    }

    .real-tearms {
        margin-bottom: 140px;
    }

    .play-apps__content {
        display    : table-caption;
        padding    : 0 25px 0 25px;
        margin-left: 65px;
    }
}


    @media screen and (max-width: 311px) {
        .manegement-teams h1 {
            font-family: BlinkMacSystemFont;
            color      : #000;
            font-size  : 27px;
            width      : 90%;
            margin     : 20px auto;
            line-height: 39px;
        }

        .banner-describe span {
            color          : #008000;
            font-size      : 30px;
            text-decoration: auto;
        }

        .health-ban h1 {
            font-size    : 28px;
            font-weight  : 500;
            color        : #074067;
            margin-bottom: 30px;
        }

        .start-asses-bttn1 {
            background-color: #2b8fff00;
            padding         : 15px 30px 15px 31px;
            font-size       : 16px;
            font-weight     : 600;
            color           : #00406b;
            border          : 2px solid #00406b;
            border-radius   : 40px;
        }

        .manegement-teams p {
            font-size : 16px;
            text-align: revert;
        }
    }